<div class="modal-header">
  <h5 class="modal-title">Registro de Módulo</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>

<div class="modal-body">
  <div class="mb-3">
    <label for="titulo" class="form-label">Titulo</label>
    <input
      type="text"
      id="descripcion"
      class="form-control"
      [(ngModel)]="titulo"
      required
    />
    <div *ngIf="submitted && !titulo" class="text-danger">
      El titulo es obligatoria.
    </div>
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea
      id="descripcion"
      class="form-control"
      [(ngModel)]="descripcion"
      rows="4"
      required
    ></textarea>
    <div *ngIf="submitted && !descripcion" class="text-danger">
      La descripción es obligatoria.
    </div>
  </div>

  <button
    class="btn btn-primary"
    (click)="editModuloId ? updateModulo() : addModulo()"
  >
    {{ editModuloId ? "Actualizar" : "Añadir +" }}
  </button>
</div>
