<app-loader *ngIf="verModal"></app-loader>
<ng-template #courseModal let-modal>
  <app-etiquetera></app-etiquetera>
</ng-template>

<section class="container mt-5">
  <!-- Header -->
  <div class="row align-items-center mb-4">
    <div class="col-md-6">
      <h2 class="text-primary fw-bold">Cursos</h2>
    </div>
    <!-- Botón para abrir el modal -->
    <div class="col-md-6 text-md-end">
      <button class="btn btn-primary" (click)="openCourseModal()">
        <i class="fas fa-plus-circle me-1"></i> Nuevo Curso
      </button>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="row mb-3">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar curso..."
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
    </div>
    <div class="col-md-6 text-md-end">
      <label class="d-inline-flex align-items-center">
        Mostrar
        <select class="form-control ms-2" [(ngModel)]="basicSelectedOption">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>

        cursos
      </label>
    </div>
  </div>

  <!-- DataTable -->
  <ngx-datatable
    #table
    class="bootstrap core-bootstrap"
    [rows]="filteredRows"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="60"
    [limit]="basicSelectedOption"
  >
    <!-- Nro Column -->
    <ngx-datatable-column name="" [width]="10" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        {{ rowIndex + 1 }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Logo Column -->
    <ngx-datatable-column name="Logo" [width]="10" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        <img
          [src]="'http://localhost:3200/api/curso/logo/' + row.id"
          alt="Logo del Curso"
          class="rounded-circle shadow-sm border"
          style="height: 40px; width: 40px; object-fit: cover"
        />
      </ng-template>
    </ngx-datatable-column>

    <!-- Nombre del Curso Column -->
    <ngx-datatable-column name="Nombre del Curso" prop="nombre" [width]="50">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span class="fw-bold text-dark">{{ row.nombre }}</span>
      </ng-template>
    </ngx-datatable-column>

    <!-- Actions Column -->
    <ngx-datatable-column name="Acciones" [width]="20" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="d-flex align-items-center">
          <!-- Dropdown Menu -->
          <div ngbDropdown container="body">
            <a
              ngbDropdownToggle
              href="javascript:void(0);"
              class="hide-arrow"
              id="dropdownBrowserState"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i
                data-feather="more-vertical"
                class="text-primary cursor-pointer me-2"
              ></i>
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownBrowserState"
              style="z-index: 1050"
            >
              <a
                href="javascript:void(0)"
                ngbDropdownItem
                class="d-flex align-items-center"
                (click)="openModuloModal(row.id)"
              >
                <i data-feather="edit" class="me-2"></i> Modulo
              </a>
              <a
                href="javascript:void(0)"
                ngbDropdownItem
                class="d-flex align-items-center"
                (click)="openClausulaModal(row.id)"
              >
                <i data-feather="edit" class="me-2"></i> Clausula
              </a>
              <a
                href="javascript:void(0)"
                ngbDropdownItem
                class="d-flex align-items-center"
                (click)="onEdit(row.id)"
              >
                <i data-feather="edit" class="me-2"></i> Editar
              </a>
              <a
                href="javascript:void(0)"
                ngbDropdownItem
                class="d-flex align-items-center text-danger"
                (click)="onDelete(row.id)"
              >
                <i data-feather="trash-2" class="me-2"></i> Eliminar
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</section>
